.suic{
    filter:invert(100%) !important;
    height:15vh;
    width:10vw;
    
}
.pbtn{
    position: absolute;
    left:35%;
    bottom: 12%;
    align-items: center;
    width:12.694vw;
    height:7.542vh;
}
.success{
    position: absolute;
    top:13vh;
    left:40%;
    margin: 0 auto;
}